:root {
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);

  --secunday-very-dark-blue-main: hsl(217, 54%, 11%); /*(main BG) */
  --secunday-very-dark-blue-card: hsl(216, 50%, 16%); /*(card BG) */
  --secunday-very-dark-blue: hsl(215, 32%, 27%); /*(line) */
  --secunday-White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--secunday-very-dark-blue-main);
  width: 100%;
  height: 100vh;
  font-size: 1.8rem;
}
p{
  color: var(--primary-soft-blue);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .card-container {
  max-width: 400px;
  min-width: 360px;
  width: 80%;
  height: 85%;
  max-height: 630px;
  padding: 2rem 2rem 0 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3fr 2fr 1fr;
  background-color: var(--secunday-very-dark-blue-card);
}

.card-item.item-1 {
    position: relative;
    border-radius: 1.5rem;
  }
  
  .card-item.item-1:hover {
    background-color: var(--primary-cyan);
}

.card-item.item-1 > picture:nth-child(1) > img {
  cursor: pointer;
  transition: 0.1s linear;
  width: 100%;
  height: 100%;
  max-width: 500px;
  border-radius: 1rem;
  object-fit: cover;
}

.card-item.item-1 > picture:nth-child(2) {
  position: absolute;
  display: none;
  width: 6rem;
  height: 6rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 0.1s linear;
}

.card-item.item-1 > picture:nth-child(1) > img:hover {
  background-color: var(--primary-cyan);
  opacity: 0.5;
  transition: 0.1s linear; /* vendorless fallback */
  -o-transition: 0.1s linear; /* opera */
  -ms-transition: 0.1s linear; /* IE 10 */
  -moz-transition: 0.1s linear; /* Firefox */
  -webkit-transition: 0.1s linear; /*safari and chrome */
}

.card-item.item-1:hover > picture:nth-child(2) {
  display: block;
  pointer-events: none;
  transition: 0.1s linear;
  -o-transition: 0.1s linear; /* opera */
  -ms-transition: 0.1s linear; /* IE 10 */
  -moz-transition: 0.1s linear; /* Firefox */
  -webkit-transition: 0.1s linear; /*safari and chrome */
}

.card-item.item-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 1rem;
}


.card-item.item-2 > a {
  margin-top: 2rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  line-height: 2.8rem;
  font-size: 2.2rem;
  color: var(--secunday-White);
}

.card-item.item-2 > a:hover {
  color: var(--primary-cyan);
}

.card-item.item-2 > p {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.card-item.item-3 {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.card-item.item-3 div {
  display: flex;
  align-items: center;
}

.card-item.item-3 div picture{
  display: flex;
  align-items: center;
}

.card-item.item-3 div p {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.card-item.item-3 div:nth-child(1) p {
  font-weight: 600;
  color: var(--primary-cyan);
}


.card-item.item-4 {
  border-top: 0.1rem solid var(--secunday-very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card-item.item-4 picture{
  height: 40px;
}
.card-item.item-4 img {
  border-radius: 50%;
  border: 0.2rem solid var(--secunday-White);
  height: 100%;
}

.card-item.item-4 > p {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.card-item.item-4 > p > a {
  text-decoration: none;
  color: var(--secunday-White);
}

.card-item.item-4 > p > a:hover {
  color: var(--primary-cyan);
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
